# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.zed/

# Javascript
test-results/
node_modules/

# Generated
*.backup
coverage/
openapi/
src/generated/
docs/

# Output
dist/
build/
output/

# Environment
.env*
!.env.example

# Logs
logs/
*.log
*.log*

# Other
.ignore*/
LLM.md
.claude/
